VITE_SUPABASE_URL=https://etcvcreeknlnvzuwwtfg.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV0Y3ZjcmVla25sbnZ6dXd3dGZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMyMTM3NiwiZXhwIjoyMDg4ODk3Mzc2fQ.IZejIF0igZ8aS-qAHq519s3GLIGeeS_3xpHIe1Htdzk
VITE_MAPBOX_TOKEN=pk.eyJ1IjoidGVtbXl3ZmhnaiIsImEiOiJjbW1ua3AycGYwM3M2Mm9yOGR5NW55aHoyIn0.aeDJ_-_0gnKBj57pSgG6QQ
VITE_API_URL=http://localhost:8000
