# Supabase
SUPABASE_URL=https://etcvcreeknlnvzuwwtfg.supabase.co/
SUPABASE_SERVICE_ROLE_KEY='str'
TWILIO_ACCOUNT_SID='str'
TWILIO_AUTH_TOKEN= 'str'
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
TWILIO_SMS_NUMBER=+1234567890

# Anthropic
ANTHROPIC_API_KEY='str'

# Google Maps (optional, add later)
GOOGLE_MAPS_API_KEY='str'

# App
APP_ENV=development
BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
